
/* Q1 */
/* .alert.success {
  color: yellow;
}
.alert .success {
  color: yellow;
}
.alert, .success {
  color: yellow
}
.alert--.success {
  color: yellow
} */




















/* Q2 */
/* .first.second { color: green}; */
/* div > p { color: green; } */
/* div .second, #first { color: green; } */
/* p:last-child { color: green; } 

p:nth-child(2) {
  color: blue;
} */



























/* Q3 */
p { color: grey; }
.blue { color: blue; }
#red .blue { color: magenta; }
#red { color: red; }
.green p { color: lightgreen; }
div.green p.blue { color: cyan; }
