h1 {
  font-family: 'Helvetica';
  color: white;
  background-color: rebeccapurple;
  padding: .5em;
}

h2 {
  color: rebeccapurple;
}

p {
  font-size: 18px;
}

img {
  max-height: 150px;
  border-radius: 20px;
}

/* elements with class="about-section" */
.about-section {
  background-color: #eee;
}

.about-section h2 {
  background-color: rebeccapurple;
  color: white;
}

.about-section > img {
  border-radius: 50%;
}

/* .alert, h1, #navbar {
  background-color: yellow;
} */



/* p.alert {
  background-color: lightgreen;
} */

.about-section img:hover {
  max-height: 300px;
} 

.link-section a:focus, .link-section a:hover {
  font-weight: bold;
}

li:nth-child(2n) {
  background-color: lightblue;
  width: 50%;
}