* {
  box-sizing: border-box;
}

body{
  background-color: beige;
}

/* general styling */
h1, h2, h3 {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

h2 {
  color: rebeccapurple;
}

/* nav bar */
nav {
  color: white;
  background-color: #4b2e83;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  display: inline-block;
  width: 150px;
  padding: .5em;
}

nav a {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: white;
}

.about {
  background-color: #f8f8f8;
}

main {
  /* display: flex; */
}

.about {
  order: 2;
  flex-basis: 30%;
  padding: 0 1em;
  /* margin-left: 2em; */
}

.about img {
  display: none;
}

/* course cards */
/* the "flexbox pool" */

.courses .card {
  /* flex-grow: 1; */
  border: 1px solid black;
  padding: .5em;
  display: flex;
  flex-direction: column;
  /* margin: 5px; */
  align-items: center;
}

.courses .card div {
  flex-grow: 1;
}

.courses .card h3 {
  text-align: center;
}


.courses img {
  max-width: 150px;
}

/* other */
footer {
  font-size: smaller;
}

@media (min-width: 768px) {
  body {
    background-color: lightblue;
  }

  .courses .card {
    background-color: white;
  }

  main {
    display: flex;
  }

  .about {
    margin-left: 2em;
  }

  .about img {
    display: inline;
  }

  .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .courses .card {
    flex-basis: 50%;
  }
  
}

@media (min-width: 1200px) {
  body {
    background-color: goldenrod;
  }

  .courses .card {
    flex-basis: 33%;
  }
 
}

